<section>

  <div class="img-card-box">

    <div id="img-card-title">

      <h3 class="titulo_receita">Receitas</h3>
      <hr id="title-img-card-border">

    </div>

    <div id="img-card-box-content">

      <div>
        <div id="img-card-img-format">

          <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary button_modal" data-toggle="modal" data-target="#modalExemplo">
            <img src="assets/image/fricasse.jpg" alt="">
            <p>Fricassê</p>
          </button>

          <!-- Modal -->
          <div class="modal fade button_modal" id="modalExemplo" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">COCADA PRETA</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Assim tá bom, vosso lucas?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div>
        <div id="img-card-img-format">

          <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary button_modal" data-toggle="modal" data-target="#modalExemplo">
            <img src="assets/image/hamburguer.jpg" alt="">
            <p>Hamburguer</p>
          </button>

          <!-- Modal -->
          <div class="modal fade button_modal" id="modalExemplo" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">COCADA PRETA</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Assim tá bom, vosso lucas?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div>
        <div id="img-card-img-format">

          <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary button_modal" data-toggle="modal" data-target="#modalExemplo">
            <img src="assets/image/strogonoff.jpg" alt="">
            <p>Strogonoff</p>
          </button>

          <!-- Modal -->
          <div class="modal fade button_modal" id="modalExemplo" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">COCADA PRETA</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Assim tá bom, vosso lucas?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div>
        <div id="img-card-img-format">

          <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary button_modal" data-toggle="modal" data-target="#modalExemplo">
            <img src="assets/image/cabonara.jpg" alt="">
            <p>Carbonara</p>
          </button>

          <!-- Modal -->
          <div class="modal fade button_modal" id="modalExemplo" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">COCADA PRETA</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Assim tá bom, vosso lucas?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div id="img-card-img-format">

          <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary button_modal" data-toggle="modal" data-target="#modalExemplo">
            <img src="assets/image/cabonara.jpg" alt="">
            <p>asdasdasd</p>
          </button>

          <!-- Modal -->
          <div class="modal fade button_modal" id="modalExemplo" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">COCADA PRETA</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Assim tá bom, vosso lucas?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div id="img-card-img-format">

          <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary button_modal" data-toggle="modal" data-target="#modalExemplo">
            <img src="assets/image/cabonara.jpg" alt="">
            <p>asdasdasd</p>
          </button>

          <!-- Modal -->
          <div class="modal fade button_modal" id="modalExemplo" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">COCADA PRETA</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Assim tá bom, vosso lucas?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div><br>
</section>
<!-- img-cards GRID -->

<!-- doces -->
<section id="doces">

  <div class="img-card-box">

    <div id="img-card-title">

      <h3 class="titulo_receita">Doces</h3>
      <hr id="title-img-card-border">

    </div>

    <div id="img-card-box-content">

      <div>
        <div id="img-card-img-format">


          <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary button_modal" data-toggle="modal" data-target="#modalExemplo">
            <img src="assets/image/brigadeiro.jpg" alt="">
            <p>Brigadeiro</p>
          </button>

          <!-- Modal -->
          <div class="modal fade button_modal" id="modalExemplo" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">COCADA PRETA</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Assim tá bom, vosso lucas?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div>
        <div id="img-card-img-format">
          <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary button_modal" data-toggle="modal" data-target="#modalExemplo">
            <img src="assets/image/bolo_cenoura.jpg" alt="">
            <p>Bolo de Cenoura</p>
          </button>

          <!-- Modal -->
          <div class="modal fade button_modal" id="modalExemplo" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">COCADA PRETA</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Assim tá bom, vosso lucas?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div>
        <div id="img-card-img-format">
          <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary button_modal" data-toggle="modal" data-target="#modalExemplo">
            <img src="assets/image/brownie.jpg" alt="">
            <p>Brownie</p>
          </button>

          <!-- Modal -->
          <div class="modal fade button_modal" id="modalExemplo" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">COCADA PRETA</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Assim tá bom, vosso lucas?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>

      <div>
        <div id="img-card-img-format">
          <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary button_modal" data-toggle="modal" data-target="#modalExemplo">
            <img src="assets/image/palha_italiana.jpg" alt="">
            <p>Palha Italiana</p>
          </button>

          <!-- Modal -->
          <div class="modal fade button_modal" id="modalExemplo" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">COCADA PRETA</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Assim tá bom, vosso lucas?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div id="img-card-img-format">
          <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary button_modal" data-toggle="modal" data-target="#modalExemplo">
            <img src="https://i.ytimg.com/vi/f9501PpO61E/maxresdefault.jpg" alt="">
            <p>asdasdasd</p>
          </button>

          <!-- Modal -->
          <div class="modal fade button_modal" id="modalExemplo" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">COCADA PRETA</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Assim tá bom, vosso lucas?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div id="img-card-img-format">

          <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary button_modal" data-toggle="modal" data-target="#modalExemplo">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPBbwUV4q_TF_76885nJplwWltnbu6Tn3xE7j_OL2Un8j-GhpexkC-J4ljxL1hIDdAISA&usqp=CAU"
              alt="">
            <p>asdasdasd</p>
          </button>

          <!-- Modal -->
          <div class="modal fade button_modal" id="modalExemplo" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">COCADA PRETA</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Assim tá bom, vosso lucas?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div><br>
</section>
<!-- doces -->

<!-- vegano -->
<!-- tirei pra acertar o carrossel e poder gravar -->
<!-- vegano -->

<!-- fitness -->
<!-- tirei pra acertar o carrossel e poder gravar -->
<!-- fitness -->