<section>

  <div class="img-card-box">

    <div id="img-card-title">

      <h3 class="titulo_receita">Receitas</h3>
      <hr id="title-img-card-border">

    </div>

    <div id="img-card-box-content">
      <div *ngFor="let receita of receitas">
        <div id="img-card-img-format">

          <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary button_modal" (click)="openScrollableContent(longContent)">
            <img src="assets/image/{{receita.imagemURL}}" alt="">
            <p>{{receita.nomeDaReceita}}</p>
          </button>

          <!-- Modal -->
          <ng-template #longContent let-modal>
            <div class="modal-header">
              <h4 class="modal-title">{{receita.nomeDaReceita}}</h4>
              <button type="button" class="btn-close" aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
              <p>{{receita.ingrediente1}}</p>
              <p>{{receita.ingrediente2}}</p>
              <p>{{receita.ingrediente3}}</p>
              <p>{{receita.ingrediente4}}</p>
              <p>{{receita.ingrediente5}}</p>
              <p>{{receita.ingrediente6}}</p>
              <p>{{receita.ingrediente7}}</p>
              <p>{{receita.ingrediente8}}</p>
              <p>{{receita.ingrediente9}}</p>
              <p>{{receita.ingrediente10}}</p>
              <p>{{receita.ingrediente11}}</p>
              <p>{{receita.ingrediente12}}</p>
              <p>{{receita.ingrediente13}}</p>
              <br>
              <hr>
              <br>
              <p><b>Modo de Preparo:</b> {{receita.preparo}}</p>
            </div>
          </ng-template>

        </div>
      </div>
    </div>