<section>
  <div class="slideshow-container">
    <div class="mySlides" *ngFor="let slide of slides; let i = index" [style.display]="currentIndex === i ? 'block' : 'none'">
      <div class="slideshow-container">
        <div class="mySlides fade">
          <img src="assets/image/fricasse.jpg" style="width:100%" alt="Fricassé">
        </div>
    
        <div class="mySlides fade">
          <img src="assets/image/hamburguer.jpg" style="width:100%" alt="Hambúrguer">
        </div>
    
        <div class="mySlides fade">
          <img src="assets/image/strogonoff.jpg" style="width:100%" alt="Strogonoff">
        </div>
    
        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
      </div>
    </div>
</div>
  <br>
</section>
