<header>
  <link rel="stylesheet" href="navbar.component.css">
  <nav>
    <div class="navbar">
      <div class="logo">
        <a href="index.html">
          <img src="../../assets/image/favicon/favicon_panela.png" alt="Logo">
        </a>
        <a href="index.html">
          <p class="nome-logo">Panela Mágica</p>
        </a>
      </div>
      <div class="search-bar">
        <input class="input" type="text" placeholder="Pesquisar" autocomplete="on">
      </div>
      <div class="links">
        <a href="index.html">Home</a>
        <a href="#doces">Doces</a>
      </div>
      <div id="ofcanvas-btn" class="ofcanvas-btn" (click)="toggleofcanvas()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <div id="ofcanvas" class="ofcanvas">
        <div class="ofcanvas-content">
          <p class="nome-logo">Panela Mágica</p>
          <hr id="title-img-card-border">
          <br>
          <ul>
            <li><a href="#doces">Doces</a></li>
            <li><a href="#vegano">Vegano</a></li>
            <li><a href="#fitness">Fitness</a></li>
          </ul>
          <div class="ofcanvas_copyright">
            <p class="copy">Developed by <span><a href="https://github.com/LucasBXavier/" target="_blank">Lucas</a> & <a
                  href="https://github.com/RhoanBarioni" target="_blank">Rhoan</a></span>
            </p>
          </div>
        </div>
      </div>
      <div class="best_site">
        <p>Best Site</p>
      </div>
    </div>
  </nav>
</header>