<header>
  <nav>
    <div class="navbar">
      <div class="logo">
        <a href="index.html">
          <img src="assets/image/panelaLogo.jpg" alt="Logo">
        </a>
      </div>
      <a href="index.html">
        <p class="nome-logo">Panela Mágica</p>
      </a>
      <div class="search-bar">
        <input class="input" type="text" placeholder="Pesquisar" autocomplete="on">
      </div>
      <div class="links">

        <a href="#doces">Doces</a>
        <a href="#vegano">Vegano</a>
        <a href="#fitness">Fitness</a>

      </div>
      <!-- <div class="offcanvas-toggle"> -->
      <div class="offcanvas-btn" onclick="Function()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <div class="offcanvas">
        <div class="offcanvas-content">
          <p class="nome-logo">Panela Mágica</p>
          <hr id="title-img-card-border">
          <br>
          <ul>
            <a href="#doces">Doces</a>

            <a href="#vegano">Vegano</a>

            <a href="#fitness">Fitness</a>

          </ul>
        </div>
      </div>

    </div>
  </nav>
</header>