@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

/* essencial */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    
}

/* :root{
    --cor-primaria:;
    --cor-secundaria:;
} */
/* essencial */

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242333;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
    border-radius: 100%;
}

.nome-logo{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: 24px;
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    margin-left: 10px;
}

.search-bar {
    flex-grow: 1;
    text-align: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    width: 50%;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.search-bar button {
    padding: 8px 15px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.links {
    display: flex;
}

.links a {
    color: white;
    text-decoration: none;
    padding: 0 10px;  
    font-size: 20px;
    transition: color 0.3s ease;
}

.links a:hover{
    color: #5C4AFF;
}
/* fim da navbar */

/* offcanvas */
.offcanvas {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #494855;
    overflow-x: hidden;
    transition: 0.3s;
}

.offcanvas a:hover{
    color: #5C4AFF;
    transition: color 0.3s ease-in-out;
}

.menu-btn{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.offcanvas.active {
    left: 0;
}

.offcanvas-content {
    padding: 20px;
}

.offcanvas-content a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
        font-size: 24px;
}

.offcanvas-toggle {
    display: none;
}
/* fim offcanvas */

/* carrossel */
.carousel {
    display: flex;
    align-items: center;
    margin: 50px auto;
    min-height: 40vh;
    /* box-shadow: 2px 2px 100px black; */
    overflow: hidden;
    width: 70vw;
}

.carousel-container {
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease;
    transform: translateX(0);
    background-color: black;
}

#img-caurosel {
    object-fit: contain;
    height: auto;
    max-width: 100%;
}
/*  fim do carrossel */


/* footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.copyright{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #242333;    
    padding: 24px;
    font-size: 1.5rem;
    font-weight: 400;
}

.copy{
    margin-bottom: 10px;
    color: white;
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
}
.copy a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}
.copy a:hover{
    color: #5C4AFF;
}
/* fim do footer */

/* scroll bar */
body {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #000603;
    --sb-size: 10px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}
/* fim scroll bar */

/* media querys */
@media screen and (max-width: 768px) {
    .links {
        display: none;
    }

    .search-bar{
        display: none;
    }

    .offcanvas-toggle {
        display: block;
    }
}